{% load static %}
{% if profile.archived_profiles %}
    {% for prof in  profile.archived_profiles  %}
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>

        <div class="messages__section-left-bottom-body-inbox container large_screen">
            <div id="{% if prof == user_profile %}active-profile{% endif %}" class="messages__section-left-bottom-body-inbox-item  {% if prof == user_profile %} active {% endif %}" onclick="setItemActive(this)"
           >
            <div class="messages__section-left-bottom-body-inbox-item-img" hx-post="{% url 'message' prof.username %}"
            hx-trigger="click"
            hx-target="#message_detail"
            hx-push-url="true"
            hx-swap="innerHTML swap:0.2s">
                {% if prof.profile_picture %}
                <img  src="{{ prof.profile_picture.url }}" alt="">
                {% else %}
                <img  src="{% static 'images/ava.png'%}" alt="">
                {% endif %}
                <div class="active-indicator"></div>
            </div>
            <div class="messages__section-left-bottom-body-inbox-item-info" hx-post="{% url 'message' prof.username %}"
            hx-trigger="click"
            hx-target="#message_detail"
            hx-push-url="true"
            hx-swap="innerHTML swap:0.2s">
                <span class="messages__section-left-bottom-body-inbox-item-info-name">
                    {{prof.display_name}}
                </span>
                <span class="messages__section-left-bottom-body-inbox-item-info-message">
                    {{prof.last_message}}
                </span>
                <span class="messages__section-left-bottom-body-inbox-item-info-timestamp">
                    {{prof.last_message_time}}
                </span>
                {% if prof.unread > 0 %}
                      <span class="messages__section-left-bottom-body-inbox-item-info-unread">
                          {{prof.unread}}
                      </span>
                {% endif %}
            </div>
            <div class="messages__section-left-bottom-body-inbox-item-menu">
                <i class='bx bx-dots-horizontal-rounded'></i>
                <div class="messages__section-left-bottom-body-inbox-item-menu-items">
                <span class="messages__section-left-bottom-body-inbox-item-menu-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M13 6.8125V12.6658C13 13.9992 12.6667 14.6658 11 14.6658H5C3.33333 14.6658 3 13.9992 3 12.6658V6.8125" stroke="#5D5F63" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3.33301 1.33203H12.6663C13.9997 1.33203 14.6663 1.9987 14.6663 3.33203V4.66536C14.6663 5.9987 13.9997 6.66536 12.6663 6.66536H3.33301C1.99967 6.66536 1.33301 5.9987 1.33301 4.66536V3.33203C1.33301 1.9987 1.99967 1.33203 3.33301 1.33203Z" stroke="#5D5F63" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.78711 9.33203H9.21378" stroke="#5D5F63" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span hx-post="{% url 'archive_message' prof.username %}"
                    hx-trigger="click"
                    hx-target="#search-results"
                    hx-push-url="false"
                    hx-swap="innerHTML swap:0.2s">
                    Unarchive
                    </span>
                    
                </span>
                <span class="messages__section-left-bottom-body-inbox-item-menu-item delete">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M14 3.98568C11.78 3.76568 9.54667 3.65234 7.32 3.65234C6 3.65234 4.68 3.71901 3.36 3.85234L2 3.98568" stroke="#D31311" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5.66699 3.31203L5.81366 2.4387C5.92033 1.80536 6.00033 1.33203 7.12699 1.33203H8.87366C10.0003 1.33203 10.087 1.83203 10.187 2.44536L10.3337 3.31203" stroke="#D31311" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.5669 6.09375L12.1336 12.8071C12.0603 13.8537 12.0003 14.6671 10.1403 14.6671H5.86026C4.00026 14.6671 3.94026 13.8537 3.86693 12.8071L3.43359 6.09375" stroke="#D31311" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.88672 11H9.10672" stroke="#D31311" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.33301 8.33203H9.66634" stroke="#D31311" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span 
                        hx-post="{% url 'delete_message' prof.username %}"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="false"
                        hx-swap="innerHTML swap:0.2s">
                          Delete
                        </span>
                    
                </span>
                </div>
            </div>
            </div>
        </div>


        <div class="messages__section-left-bottom-body-inbox container small_screen">
            <div class="messages__section-left-bottom-body-inbox-item  {% if prof == user_profile %} active {% endif %}">
                <a href="{% url 'message' prof.username %}" class="messages__section-left-bottom-body-inbox-item-img">
                    {% if prof.profile_picture %}
                    <img  src="{{ prof.profile_picture.url }}" alt="">
                    {% else %}
                    <img  src="{% static 'images/ava.png'%}" alt="">
                    {% endif %}
                    <div class="active-indicator"></div>
                </a>
                <a href="{% url 'message' prof.username %}" class="messages__section-left-bottom-body-inbox-item-info">
                    <span class="messages__section-left-bottom-body-inbox-item-info-name">
                        {{prof.display_name}}
                    </span>
                    <span class="messages__section-left-bottom-body-inbox-item-info-message">
                        {{prof.last_message}}
                    </span>
                    <span class="messages__section-left-bottom-body-inbox-item-info-timestamp">
                        {{prof.last_message_time}}
                    </span>
                    {% if prof.unread > 0 %}
                      <span class="messages__section-left-bottom-body-inbox-item-info-unread">
                          {{prof.unread}}
                      </span>
                    {% endif %}
                </a>
                <div class="messages__section-left-bottom-body-inbox-item-menu">
                    <i class='bx bx-dots-horizontal-rounded'></i>
                    <div class="messages__section-left-bottom-body-inbox-item-menu-items">
                    <span class="messages__section-left-bottom-body-inbox-item-menu-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M13 6.8125V12.6658C13 13.9992 12.6667 14.6658 11 14.6658H5C3.33333 14.6658 3 13.9992 3 12.6658V6.8125" stroke="#5D5F63" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.33301 1.33203H12.6663C13.9997 1.33203 14.6663 1.9987 14.6663 3.33203V4.66536C14.6663 5.9987 13.9997 6.66536 12.6663 6.66536H3.33301C1.99967 6.66536 1.33301 5.9987 1.33301 4.66536V3.33203C1.33301 1.9987 1.99967 1.33203 3.33301 1.33203Z" stroke="#5D5F63" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.78711 9.33203H9.21378" stroke="#5D5F63" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span 
                        hx-post="{% url 'archive_message' prof.username %}"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="false"
                        hx-swap="innerHTML swap:0.2s">
                        Unarchive
                        </span>
                        
                    </span>
                    <span class="messages__section-left-bottom-body-inbox-item-menu-item delete">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M14 3.98568C11.78 3.76568 9.54667 3.65234 7.32 3.65234C6 3.65234 4.68 3.71901 3.36 3.85234L2 3.98568" stroke="#D31311" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.66699 3.31203L5.81366 2.4387C5.92033 1.80536 6.00033 1.33203 7.12699 1.33203H8.87366C10.0003 1.33203 10.087 1.83203 10.187 2.44536L10.3337 3.31203" stroke="#D31311" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.5669 6.09375L12.1336 12.8071C12.0603 13.8537 12.0003 14.6671 10.1403 14.6671H5.86026C4.00026 14.6671 3.94026 13.8537 3.86693 12.8071L3.43359 6.09375" stroke="#D31311" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.88672 11H9.10672" stroke="#D31311" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.33301 8.33203H9.66634" stroke="#D31311" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span 
                        hx-post="{% url 'delete_message' prof.username %}"
                        hx-trigger="click"
                        hx-target="#search-results"
                        hx-push-url="false"
                        hx-swap="innerHTML swap:0.2s">
                          Delete
                        </span>
                        
                    </span>
                    </div>
                </div>
            </div>
        </div>



        
    {% endfor %}
{% else %}
    <div id="not-found" class="not__found">
        <span>No archived messages</span>
    </div>
{% endif %}
