{% load static %}
<div class="connect__body" id="connect__body">
    <div class="connect__body-items">
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/mentor.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Ashley Tisdale</span>
          <span class="connect__body-item-role">Senior Product Designer, Trello</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-calendar' ></i>
            <span class="connect__body-item-btn-text" >Book a call</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/peer.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/peer-avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Jake Five</span>
          <span class="connect__body-item-role">Intermediate | Graphics Design</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-plus' ></i>
            <span class="connect__body-item-btn-text" >Follow</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/mentor.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Ashley Tisdale</span>
          <span class="connect__body-item-role">Senior Product Designer, Trello</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-calendar' ></i>
            <span class="connect__body-item-btn-text" >Book a call</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/mentor.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Ashley Tisdale</span>
          <span class="connect__body-item-role">Senior Product Designer, Trello</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-calendar' ></i>
            <span class="connect__body-item-btn-text" >Book a call</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/peer.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/peer-avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Jake Five</span>
          <span class="connect__body-item-role">Intermediate | Graphics Design</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-plus' ></i>
            <span class="connect__body-item-btn-text" >Follow</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/peer.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/peer-avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Jake Five</span>
          <span class="connect__body-item-role">Intermediate | Graphics Design</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-plus' ></i>
            <span class="connect__body-item-btn-text" >Follow</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/mentor.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Ashley Tisdale</span>
          <span class="connect__body-item-role">Senior Product Designer, Trello</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-calendar' ></i>
            <span class="connect__body-item-btn-text" >Book a call</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/mentor.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Ashley Tisdale</span>
          <span class="connect__body-item-role">Senior Product Designer, Trello</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-calendar' ></i>
            <span class="connect__body-item-btn-text" >Book a call</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/peer.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/peer-avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Jake Five</span>
          <span class="connect__body-item-role">Intermediate | Graphics Design</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-plus' ></i>
            <span class="connect__body-item-btn-text" >Follow</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/mentor.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Ashley Tisdale</span>
          <span class="connect__body-item-role">Senior Product Designer, Trello</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-calendar' ></i>
            <span class="connect__body-item-btn-text" >Book a call</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/peer.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/peer-avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Jake Five</span>
          <span class="connect__body-item-role">Intermediate | Graphics Design</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-plus' ></i>
            <span class="connect__body-item-btn-text" >Follow</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/mentor.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Ashley Tisdale</span>
          <span class="connect__body-item-role">Senior Product Designer, Trello</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-calendar' ></i>
            <span class="connect__body-item-btn-text" >Book a call</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/peer.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/peer-avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Jake Five</span>
          <span class="connect__body-item-role">Intermediate | Graphics Design</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-plus' ></i>
            <span class="connect__body-item-btn-text" >Follow</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/mentor.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Ashley Tisdale</span>
          <span class="connect__body-item-role">Senior Product Designer, Trello</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-calendar' ></i>
            <span class="connect__body-item-btn-text" >Book a call</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/peer.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/peer-avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Jake Five</span>
          <span class="connect__body-item-role">Intermediate | Graphics Design</span>
          <span class="connect__body-item-btn">
            <span>
              <i class='bx bx-plus' ></i>
            </span>
           
            <span class="connect__body-item-btn-text" >Follow</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/mentor.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Ashley Tisdale</span>
          <span class="connect__body-item-role">Senior Product Designer, Trello</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-calendar' ></i>
            <span class="connect__body-item-btn-text" >Book a call</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/mentor.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Ashley Tisdale</span>
          <span class="connect__body-item-role">Senior Product Designer, Trello</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-calendar' ></i>
            <span class="connect__body-item-btn-text" >Book a call</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/mentor.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Ashley Tisdale</span>
          <span class="connect__body-item-role">Senior Product Designer, Trello</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-calendar' ></i>
            <span class="connect__body-item-btn-text" >Book a call</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/mentor.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Ashley Tisdale</span>
          <span class="connect__body-item-role">Senior Product Designer, Trello</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-calendar' ></i>
            <span class="connect__body-item-btn-text" >Book a call</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/mentor.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Ashley Tisdale</span>
          <span class="connect__body-item-role">Senior Product Designer, Trello</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-calendar' ></i>
            <span class="connect__body-item-btn-text" >Book a call</span>
           
          </span>
        </div>
        <div class="connect__body-item">
          <div class="connect__body-item-img">
            <img class="connect__body-item-img-dp" src="{% static 'images/mentor.jpg'%}" alt="">
            <img class="connect__body-item-img-avatar" src="{% static 'images/avatar.jpg'%}" alt="">
          </div>
          
          <span class="connect__body-item-name">Ashley Tisdale</span>
          <span class="connect__body-item-role">Senior Product Designer, Trello</span>
          <span class="connect__body-item-btn">
            <i class='bx bx-calendar' ></i>
            <span class="connect__body-item-btn-text" >Book a call</span>
           
          </span>
        </div>
    </div>
 </div>