{% extends 'index.html' %}
{% load static %}

{% block main-content %}
   <div class="path__section">
     <!-- <div class="path__header">
        <span>
            Learning Paths
        </span>
     </div> -->
     <div class="path__body">
      {% if my_skills %}
          <div class="path__body-my-paths">
            <div class="path__body-my-paths-header">
              <span>My Paths</span>
            </div>
            <div class="path__body-my-paths-body">
              <div class="path__body-my-paths-body-items">
                {% for skill in my_skills %}
                <div class="path__body-my-paths-body-item">
                  <a href="{% url 'path_detail' skill.suggested_skill.value %}">
                    <div class="path__body-my-paths-body-item-img recommended">
                      <img src="{% static 'images/paths/' %}{{ skill.suggested_skill.icon }}" alt="Skill Image"  onerror="this.onerror=null; this.src='{% static 'images/paths/default.svg' %}';">
                    </div>
                    <div class="path__body-my-paths-body-item-title">
                      <span>
                       {{ skill.suggested_skill.name }}
                      </span>
                    </div>
                  </a>
                  
                  <div class="path__body-my-paths-body-item-progress-bar">
                      <div class="path__body-my-paths-body-item-progress-inner-bar" style="width: {{skill.progress}}">

                      </div>
                  </div>
                  <div class="path__body-my-paths-body-item-percentage-progress">
                    <span> {% if skill.active %} <span class="path__body-my-paths-body-item-percentage-progress-active">Active • </span>  {{skill.progress}}% in progress {% else %} NOT STARTED {% endif %}</span> 
                  </div>
                  <div class="path__body-my-paths-body-item-skill-iq">
                    <a href="{% url 'path_detail' skill.suggested_skill.value %}">
                      {% if skill.active %}
                        <span>View path</span>
                      {% else %}
                        <span>Switch to path</span>
                      {% endif %}
                    </a>
                  </div>
                </div>
                {% endfor %}
               
              </div>
            </div>
          </div>
      {% endif %}
          <div class="path__body-explore">
            <div class="path__body-explore-header">
              <span>Explore Paths</span>
              <span class="path__body-explore-header-search">
                <img src="{% static 'images/icons/header/search.svg' %}" alt=""><input type="text" id="search-input" placeholder="Search for paths">
              </span>
            </div>
            <div class="path__body-explore-body">
              <div id="search-results" class="path__body-explore-body-items">
          
                {% if profile.user_type == 'mentor' %}
                  {% for skill in mentor_skills %}
                  <div  class="path__body-explore-body-item">
                      <div class="path__body-explore-body-item-img path">
                          <img src="{% static 'images/paths/' %}{{ skill.icon }}" alt="Skill Image" 
                               onerror="this.onerror=null; this.src='{% static 'images/paths/default.svg' %}';">
                      </div>
                      <div class="path__body-explore-body-item-title">
                          <span class="skill-name">{{ skill.name }}</span>
                      </div>
                      
                      {% if skill == profile.mentor_skill %}
                        <div class="path__body-explore-body-item-btn active">
                            <span class="">Active Path</span>
                        </div>
                      {% else %}
                        <div  class="path__body-explore-body-item-btn">
                            <a href="{% url 'switch_mentor_path' skill.value %}" class="">Switch to Path</a>
                        </div>
                      {% endif %}
                      </div>
                  {% endfor %}
                {% else %}
                {% for skill in skills %}
                  <a href="{% url 'path_detail' skill.value %}" class="path__body-explore-body-item">
                      <div class="path__body-explore-body-item-img path">
                          <img src="{% static 'images/paths/' %}{{ skill.icon }}" alt="Skill Image" 
                              onerror="this.onerror=null; this.src='{% static 'images/paths/default.svg' %}';">
                      </div>
                      <div class="path__body-explore-body-item-title">
                          <span class="skill-name">{{ skill.name }}</span>
                      </div>
                      <div class="path__body-explore-body-item-description">
                          <span>Master the act of {{skill.name}} and get actionable insights on how to grow and scale your career</span>
                      </div>
                  </a>
                {% endfor %}
                {% endif %}
              </div>
              <div id="not-found" class="not__found" style="display: none;">
                  <span>No paths found.</span>
              </div>
          </div>
          </div>
     </div>
   </div>

   <script>
    function setupSearch(inputId, resultsContainerId, notFoundId) {
          const searchInput = document.getElementById(inputId);
          const resultsContainer = document.getElementById(resultsContainerId);
          const notFoundElement = document.getElementById(notFoundId);

          searchInput.addEventListener('keyup', function() {
              const query = searchInput.value.trim().toLowerCase();
              const skillItems = resultsContainer.getElementsByClassName('path__body-explore-body-item');
              let found = false;

              for (let i = 0; i < skillItems.length; i++) {
                  const skillName = skillItems[i].querySelector('.skill-name').textContent.toLowerCase();

                  if (skillName.includes(query)) {
                      skillItems[i].style.display = 'block';
                      found = true;
                  } else {
                      skillItems[i].style.display = 'none';
                  }
              }

              if (found) {
                  notFoundElement.style.display = 'none';
              } else {
                  notFoundElement.style.display = 'flex';
              }
          });
      }

      // Example usage:
      setupSearch('search-input', 'search-results', 'not-found');

   </script>

{% endblock main-content %}

{% block title%} Path | Compas AI{% endblock %}
{% block path%} active{% endblock %}
{% block remove_search_bar%}style="display: none;"{% endblock %}