{% extends 'path_detail.html' %}
{% load static %}
{% block path-detail__content %}
<div class="path-detail__section-courses-section">
    <div class="connect__filters-search">
        <img src="{% static 'images/icons/header/search.svg' %}" alt=""><input id="search-input" type="text" placeholder="Search by title">
        
      </div>
    <div id="search-results" class="home_section-courses-body">
        <div class="home_section-courses-body-item">
            <div class="home_section-courses-body-item-img">
                <img src="{% static 'images/course/1.jpg'%}" alt="" class="">
                <div class="home_section-courses-body-item-img-cover"></div>
            </div>
            
            
            <span class="home_section-courses-body-item-title">
                Design Thinking for Businesses
            </span>
          
            
            <span class="home_section-courses-body-item-reviews">
                 
                <span>
                    4.3 <i class='bx bxs-star' ></i>  (145 reviews)
                </span>
            </span>
            <span class="home_section-courses-body-item-details">
                Beginner | 36 lectures | 15.4 hours 
            </span>
            <span class="home_section-courses-body-item-author">
                <img src="{% static 'images/course/tutor.jpg'%}" alt="">
                Learnpally
            </span>
        </div>
        <div class="home_section-courses-body-item">
            <div class="home_section-courses-body-item-img">
                <img src="{% static 'images/course/2.jpg'%}" alt="" class="">
                <div class="home_section-courses-body-item-img-cover"></div>
            </div>
            <span class="home_section-courses-body-item-title">
                Product Design & Business
            </span>
           
            
            <span class="home_section-courses-body-item-reviews">
                 
                <span>
                    4.7 <i class='bx bxs-star' ></i>  (97 reviews)
                </span>
            </span>
            <span class="home_section-courses-body-item-details">
                Beginner | 36 lectures | 15.4 hours 
            </span>
            <span class="home_section-courses-body-item-author">
                <img src="{% static 'images/course/tutor.jpg'%}" alt="">
                Learnpally
            </span>
        </div>
        <div class="home_section-courses-body-item">
            <div class="home_section-courses-body-item-img">
                <img src="{% static 'images/course/3.jpg'%}" alt="" class="">
                <div class="home_section-courses-body-item-img-cover"></div>
            </div>
            <span class="home_section-courses-body-item-title">
                Design Thinking for Businesses
            </span>
            
           
            <span class="home_section-courses-body-item-reviews">
                 
                <span>
                    3.8 <i class='bx bxs-star' ></i>  (45 reviews)
                </span>
            </span>
            <span class="home_section-courses-body-item-details">
                Intermediate | 41 lectures | 22 hours 
            </span>
            <span class="home_section-courses-body-item-author">
                <img src="{% static 'images/course/tutor.jpg'%}" alt="">
                Learnpally
            </span>
        </div>
        <div class="home_section-courses-body-item">
            <div class="home_section-courses-body-item-img">
                <img src="{% static 'images/course/1.jpg'%}" alt="" class="">
                <div class="home_section-courses-body-item-img-cover"></div>
            </div>
            <span class="home_section-courses-body-item-title">
                Principles of Iconography
            </span>
            
           
            <span class="home_section-courses-body-item-reviews">
                 
                <span>
                    4.0 <i class='bx bxs-star' ></i>  (78 reviews)
                </span>
            </span>
            <span class="home_section-courses-body-item-details">
                Advanced | 12 lectures | 7 hours 
            </span>
            <span class="home_section-courses-body-item-author">
                <img src="{% static 'images/course/tutor.jpg'%}" alt="">
                Learnpally
            </span>
        </div>
        <div class="home_section-courses-body-item">
            <div class="home_section-courses-body-item-img">
                <img src="{% static 'images/course/2.jpg'%}" alt="" class="">
                <div class="home_section-courses-body-item-img-cover"></div>
            </div>
            <span class="home_section-courses-body-item-title">
                Product Design & Business
            </span>
           
            
            <span class="home_section-courses-body-item-reviews">
                 
                <span>
                    4.7 <i class='bx bxs-star' ></i>  (97 reviews)
                </span>
            </span>
            <span class="home_section-courses-body-item-details">
                Beginner | 36 lectures | 15.4 hours 
            </span>
            <span class="home_section-courses-body-item-author">
                <img src="{% static 'images/course/tutor.jpg'%}" alt="">
                Learnpally
            </span>
        </div>
        <div class="home_section-courses-body-item">
            <div class="home_section-courses-body-item-img">
                <img src="{% static 'images/course/3.jpg'%}" alt="" class="">
                <div class="home_section-courses-body-item-img-cover"></div>
            </div>
            <span class="home_section-courses-body-item-title">
                Design Thinking for Businesses
            </span>
            
           
            <span class="home_section-courses-body-item-reviews">
                 
                <span>
                    3.8 <i class='bx bxs-star' ></i>  (45 reviews)
                </span>
            </span>
            <span class="home_section-courses-body-item-details">
                Intermediate | 41 lectures | 22 hours 
            </span>
            <span class="home_section-courses-body-item-author">
                <img src="{% static 'images/course/tutor.jpg'%}" alt="">
                Learnpally
            </span>
        </div>
        <div class="home_section-courses-body-item">
            <div class="home_section-courses-body-item-img">
                <img src="{% static 'images/course/1.jpg'%}" alt="" class="">
                <div class="home_section-courses-body-item-img-cover"></div>
            </div>
            <span class="home_section-courses-body-item-title">
                Principles of Iconography
            </span>
            
           
            <span class="home_section-courses-body-item-reviews">
                 
                <span>
                    4.0 <i class='bx bxs-star' ></i>  (78 reviews)
                </span>
            </span>
            <span class="home_section-courses-body-item-details">
                Advanced | 12 lectures | 7 hours 
            </span>
            <span class="home_section-courses-body-item-author">
                <img src="{% static 'images/course/tutor.jpg'%}" alt="">
                Learnpally
            </span>
        </div>
        <div class="home_section-courses-body-item">
            <div class="home_section-courses-body-item-img">
                <img src="{% static 'images/course/2.jpg'%}" alt="" class="">
                <div class="home_section-courses-body-item-img-cover"></div>
            </div>
            <span class="home_section-courses-body-item-title">
                Product Design & Business
            </span>
           
            
            <span class="home_section-courses-body-item-reviews">
                 
                <span>
                    4.7 <i class='bx bxs-star' ></i>  (97 reviews)
                </span>
            </span>
            <span class="home_section-courses-body-item-details">
                Beginner | 36 lectures | 15.4 hours 
            </span>
            <span class="home_section-courses-body-item-author">
                <img src="{% static 'images/course/tutor.jpg'%}" alt="">
                Learnpally
            </span>
        </div>

    </div>
    <div id="not-found" class="not__found" style="display: none;">
        <span>No courses found.</span>
    </div>
</div>

<script>
    function setupSearch(inputId, resultsContainerId, notFoundId) {
    const searchInput = document.getElementById(inputId);
    const resultsContainer = document.getElementById(resultsContainerId);
    const notFoundElement = document.getElementById(notFoundId);

    searchInput.addEventListener('keyup', function() {
        const query = searchInput.value.trim().toLowerCase();
        const courseItems = resultsContainer.getElementsByClassName('home_section-courses-body-item');
        let found = false;

            for (let i = 0; i < courseItems.length; i++) {
                const spans = courseItems[i].getElementsByTagName('span');
                let itemText = '';

                for (let j = 0; j < spans.length; j++) {
                    itemText += spans[j].textContent.toLowerCase() + ' ';
                }

                if (itemText.includes(query)) {
                    courseItems[i].style.display = 'flex';
                    found = true;
                } else {
                    courseItems[i].style.display = 'none';
                }
            }

            if (found) {
                notFoundElement.style.display = 'none';
            } else {
                notFoundElement.style.display = 'flex';
            }
        });
    }

    // Example usage:
    setupSearch('search-input', 'search-results', 'not-found');

</script>


{% endblock %}
{% block path_courses %} active {% endblock %}