{% extends 'base.html' %}
{% load static %}

{% block base-content %}
<section class="terms_conditions__section">
    <div class="terms_conditions__section-body">
        <div class="terms_conditions__item" id="whats-trending">
            <div class="terms_conditions__item-header">
                <h1>Terms of Service</h1>
            </div>
            <div class="terms_conditions__item-body">
                <div class="terms_conditions__item-body-description">
                    <p>
Welcome to our Terms and Conditions of Use. These terms affect your legal rights, endeavour to read them and treat them with utmost importance.
                    </p>
                </div>
                <div class="terms_conditions__item-body-items">
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h2>TERMS AND CONDITION</h2>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                By using our website [www.compasai.com] and all related sites and/or services, you agree
                                to these Terms of Use. The website Privacy Policy (where applicable) are incorporated by
                                reference into these Terms of Use.
                                This Terms of Use is an agreement between you and COMPAS AI LIMITED (‘The
                                Company’). It details our obligations to you. It also highlights certain risks in using the
                                services and you must consider such risks carefully as you will be bound by the provisions
                                of this Agreement through your use of this website or any of our services.
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h4>Acceptance of Terms of Use</h4>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                By accessing, visiting, or using the website, you accept and agree to be bound by the
                                Terms. Please read carefully. Further, you shall be subject to any additional terms of use
                                that apply when you use certain products or posted guidelines or rules applicable to our
                                Services, which may be posted and modified from time to time. All such guidelines are
                                hereby incorporated by reference into the Terms.
                                <br>
                                <br>
                                ANY ACCESS, USE OR PARTICIPATION IN THE SERVICES WILL CONSTITUTE ACCEPTANCE
                                OF THE TERMS. IF YOU DO NOT AGREE TO THESE TERMS OF USE, PLEASE DO NOT USE
                                THE SERVICES OR OUR SITE OR MOBILE APPLICATION OR ACCESS OUR SERVICES.                               
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h4>Who May Use Our Services?</h4>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                You may use the Services only if you agree to form a binding contract with the Company
                                and are not a person barred from receiving services under the laws of the applicable
                                jurisdiction. If you are accepting these Terms and using the Services on behalf of a
                                company, business, or organization, you represent and warrant that you are authorized to
                                do so.
                                <br>
                                <br>
                                Eligibility
                                By using the Services, you represent that:
                                <br>
                                <br>
                                a) You have attained the age of 18 years;
                                <br>
                                <br>
                                b) You are of sound mind and have the capacity to enter into a legally binding
                                contract;
                                <br>
                                <br>
                                
                                c) All personal information that you provide about yourself is accurate and true to the
                                best of your knowledge; and you have the responsibility to maintain the accuracy of the
                                information at all times.
                                <br>
                                <br>
                                d) You have carefully considered the risks involved with using the Services; and
                                <br>
                                <br>
                                e) Your use of the Services does not violate any applicable law or regulation.
                                                          
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h4>Access and Use of our Services</h4>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                a. Service Description: Compas AI is a technology company duly registered under the
                                laws of the Federal Republic of Nigeria providing a personalized tech journey guidance
                                to user, by leveraging Artificial Intelligence COMPAS AI aims to provide users with
                                access to chat with AI assistant, connect with fellow learners in the community, and
                                discover suggested skills to enhance user’s profile (“Services”). By using our platform
                                for the Services, you agree to the following terms of use.
                                <br>
                                <br>
                                b. User Accounts: In order to access certain features of our services, you may be
                                required to create a user account. You agree to provide accurate and complete
                                information when creating your account and to keep your login credentials secure. You
                                are solely responsible for all activities that occur under your account.
                             
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h4>Intellectual Property Protection</h4>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                Subject to your compliance with these Terms, The Company grants you a limited, non-
                                exclusive, non-sub licensable, revocable, non-transferable license to access and view any
                                content made available on or through the Services and accessible to you, solely for the uses
                                authorised by these Terms and any other Agreement incorporated into these Terms.
                                <br>
                                <br>
                                The Services, entire contents, features and functionality (including but not limited to all
                                information, software, text, displays, image*s, video and audio, and the design, selection
                                and arrangement thereof) on all our platforms and channels, are owned by The Company,
                                its licensors or other providers of such material and are protected by the laws of the Federal
                                Republic of Nigeria and international copyright, trademark, patent, trade secret and other
                                intellectual property or proprietary rights laws. The content/material may not be copied,
                                modified, reproduced, downloaded or distributed in any way, in whole or in part, without the
                                express prior written permission of The Company, unless and except as is expressly
                                provided in these Terms &amp; Conditions. Any unauthorized use of the material is prohibited.
                                <br>
                                <br>
                                You may use the website solely for the purposes authorised and/or to learn about our
                                products and services, and solely in compliance with these Terms; provided that you do not
                                remove any proprietary notice language in our content or part thereof, do not copy or post
                                such content or part of content to any networked computer or broadcast it in any media,
                                make no modifications to any such content or part of content and not make any additional
                                representations or warranties relating to the Services or/and The Company’s products
                                or/and services.
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h4>Prohibited use of the website</h4>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                By using the website, you agree that you will not:
                                <br>
                                <br>
                                ● use any of the Services in violation of these Terms;
                                <br>
                                <br>
                                ● copy, modify, create a derivative work from, reverse engineer or reverse assemble
                                the website, the App function, or otherwise attempt to discover any source code, or
                                allow any third party to do so;
                                <br>
                                <br>
                                ● use, display, mirror or frame the Content, or any individual element within the
                                Company’s website, the Company’s name, any trademark, logo or other proprietary
                                information belonging to the Company, or the layout and design of any page or form
                                contained on a page in the website, without the Company’s express written consent;
                                <br>
                                <br>
                                ● dilute, tarnish or otherwise harm the Company’s brand in any way, including through
                                unauthorized use of our Content, registering and/or using the “COMPAS AI LIMITED”
                                name or derivative terms in domain names, trade names, trademarks or other
                                source identifiers, or registering and/or using domains names, trade names,
                                trademarks or other source identifiers that closely imitate or are confusingly similar
                                to the Company’s domains, trademarks, taglines, promotional campaigns or Content;
                                <br>
                                <br>
                                ● Sell, assign, sublicense, distribute, commercially exploit, grant a security interest in
                                or otherwise transfer any right in, or make available to a third party, the Services or
                                any part thereof;
                                <br>
                                <br>
                                ● Use any page-scrapes, &quot;robots,&quot; &quot;spiders,&quot; or other automatic device, program,
                                algorithm or methodology, or any similar or equivalent manual process, to access,
                                copy or monitor any portion of the Site or the Application.
                                <br>
                                <br>
                                ● Use the Services in any manner that damages, disables, overburdens, or impairs the
                                Services or interferes with any other party&#39;s use and enjoyment of any of the
                                Services;
                                <br>
                                <br>
                                ● Utilize the Services for any illegal purpose;
                                <br>
                                <br>
                                ● Attempt to gain unauthorized access to any of the Services;
                                <br>
                                <br>
                                ● Probe, scan or test the vulnerability of the website or any network connected to the
                                website, or breach the security or authentication measures on the website or any
                                network connected to the website;
                                <br>
                                <br>
                                ● Take any action that imposes an unreasonable or disproportionately large load on
                                the infrastructure of the website or any systems or networks connected to the
                                website;
                                <br>
                                <br>
                                ● Use any device, software or routine to interfere or attempt to interfere with the
                                proper working of any of the Services.
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h4>Third-party services</h4>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                We may display, include or make available third-party content (including data, information,
                                applications and other products services) or provide links to third-party websites or services
                                (&quot;Third- Party Services&quot;). Third-Party Services and links thereto are provided solely as a
                                convenience to you and you access and use them entirely at your own risk and subject to
                                such third parties&#39; terms and conditions.
                                <br>
                                <br>
                                You acknowledge and agree that the Company shall not be responsible for any Third-Party
                                Services, including their accuracy, completeness, timeliness, validity, copyright compliance,
                                legality, decency, quality or any other aspect thereof. The Company does not assume and
                                shall not have any liability or responsibility to you or any other person or entity for any
                                Third-Party Services.
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h4>Disclaimer &amp; Limitations of liability</h4>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                To the maximum extent permitted by applicable law, the Company disclaims any and all
                                representations, warranties and conditions relating to the Services and the use of the
                                Services (including, without limitation, any warranties implied by law in respect of
                                satisfactory quality, fitness for purpose and/or the use of reasonable care and skill).
                                <br>
                                <br>
                                THE COMPANY MAKES NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY,
                                AVAILABILITY, TIMELINESS, SECURITY OR ACCURACY OF THE PLATFORM AND THEIR
                                CONTENT FOR ANY PURPOSE. THE SITE, APP AND THEIR CONTENT ARE DELIVERED ON AN
                                &quot;AS-IS&quot; AND &quot;AS-AVAILABLE&quot; BASIS. THE CONTENT MAY INCLUDE INACCURACIES OR
                                TYPOGRAPHICAL ERRORS OR OTHER ERRORS OR INACCURACIES AND MAY NOT BE
                                COMPLETE OR CURRENT.
                                <br>
                                <br>
                                IN NO EVENT SHALL THE COMPANY BE LIABLE OR RESPONSIBLE FOR ANY DIRECT,
                                INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL OR EXEMPLARY DAMAGES OF ANY
                                KIND, INCLUDING WITHOUT LIMITATION, LOST PROFITS OR LOST OPPORTUNITIES, EVEN
                                IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES IN ADVANCE AND REGARDLESS OF
                                THE CAUSE OF ACTION UPON WHICH ANY SUCH CLAIM IS BASED.
                                <br>
                                <br>
                                YOUR SOLE REMEDY AGAINST THE COMPANY FOR DISSATISFACTION WITH THE SERVICES
                                IS TO STOP USING ANY OR ALL OF THE AFFECTED SERVICES.
                                <br>
                                <br>
                                Without prejudice to the foregoing provisions, your use of our site and services is at your
                                own risk. You agree that the Company will no way be liable for (a) any direct, indirect,
                                special, incidental punitive, consequential, punitive, special or exemplary damages or (b)
                                any damages whatsoever in excess of the amount of the transaction or (including, without
                                limitation, those damages resulting from revenue loss of revenues, lost profits, profit loss
                                of, use, data, goodwill, loss of use , business interruption, or any other intangible losses),
                                (whether the Company has been advised of the possibility of such damages or not) arising
                                out of or in connection with the Company’s website or services (including, without
                                limitation, use, to inability to use, or arising from the results of use of the Company’s
                                website or services) whether such damages are based on warranty, tort, contract, statute,
                                or any other legal theory.
                                <br>
                                <br>
                                The above disclaimer applies to any damages, liability or injuries caused by any failure of
                                performance, error, omission, interruption, deletion, defect, delay in operation or
                                transmission, computer virus, communication line failure, theft or destruction of or
                                unauthorized access to, alteration of, or use, whether for breach of contract, tort,
                                negligence or any other cause of action.
                                <br>
                                <br>
                                Some jurisdictions do not allow the exclusion of or limitations on implied warranties or the
                                limitations on the applicable statutory rights of a consumer, so some or all of the above
                                exclusions and limitations may not apply to you.
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h4>Updates, Modifications &amp; Amendments</h4>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                We may need to update, modify or amend our Terms of Use as our technology evolves. We
                                reserve the right to make changes to this Terms of Use at any time by giving notice to users
                                on this page.
                                <br>
                                <br>
                                We advise that you check this page often, referring to the date of the last modification on
                                the page If a user objects to any of the changes to the Terms of Use, the User must cease
                                using our website and/or services immediately.
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h4>Indemnification</h4>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                You agree to indemnify, defend and hold harmless the Company, its affiliated companies,
                                employees, agents, and any third-party information providers from and against all claims,
                                losses, expenses, damages and costs (including, but not limited to, direct, incidental,
                                consequential, exemplary and indirect damages), and reasonable attorneys&#39; fees, resulting
                                from or arising out of your use, misuse, or inability to use the Services, or any violation by
                                you of these Terms.
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h4>Applicable Law</h4>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                These Terms of Use shall be interpreted and governed by the laws currently in force in the
                                Federal Republic of Nigeria.
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h4>Dispute Resolution</h4>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                The validity, construction and performance of this Agreement shall be governed by the laws
                                of the Federal Republic of Nigeria.
                                <br>
                                <br>
                                Parties shall use their best endeavors to amicably settle any dispute or difference of opinion
                                arising from or in connection with this Agreement through mutual discussions in line with
                                our Dispute Resolution and Complaint Management Control Framework.
                                <br>
                                <br>
                                All disputes should be logged formally by sending an email to "support@compasai.com" within 30 days of
                                the transaction date.
                                <br>
                                <br>
                                Where the Parties are unable to resolve the dispute through mutual discussions, the dispute
                                or difference of opinion shall be referred to mediation conducted by their legal
                                representatives or financial auditors, where financial matters are involved. Failing which the
                                dispute shall finally be referred to arbitration in accordance with the Arbitration and
                                Conciliation Act Cap. A18, Laws of the Federation of Nigeria 2004, or any amendment
                                thereto.
                                <br>
                                <br>
                                The place of arbitration shall be Lagos State, Nigeria and there shall be a sole arbitrator who
                                shall be appointed jointly by the parties. Where the parties fail to jointly agree on the
                                appointment, they shall approach the Lagos Multi-Door Court House to appoint a sole
                                arbitrator who shall be competent to adjudicate on the issue in dispute.
                                <br>
                                <br>
                                The language to be used in the arbitral proceedings shall be English. The arbitral award
                                shall be final and binding between the Parties. The reference of any dispute to arbitration
                                shall not prevent the Parties from seeking any form of protective reliefs/injunctions/specific
                                performance from a court of law via motion or other originating processes for the protection
                                of any res pending the constitution of the Arbitral Panel and/or final award.
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h4>Severability</h4>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                If any portion of these Terms of Use is held by any court or tribunal to be invalid or
                                unenforceable, either in whole or in part, then that part shall be severed from these Terms
                                of Use and shall not affect the validity or enforceability of any other part in this Terms of
                                Use.
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h4>Assignment</h4>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                This agreement is a personal agreement between the Company and you. As a result, you
                                are not allowed to assign your rights under this agreement to a third party. On the other
                                hand, we can and will only transfer any of your and our rights or obligations under the
                                agreement if we reasonably think that this will not have a significant negative effect on your
                                rights under these Terms or if we need to do so to meet any legal or regulatory
                                requirement.
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h4>Waiver</h4>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                Our failure or delay in enforcing any of our rights under these terms, if you have broken the
                                agreement, does not amount to a waiver and will not prevent us from enforcing those or
                                any other rights at a later date within the period stipulated by applicable law.
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h4>Privacy Policy</h4>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                You agree to the Company’s Privacy Policy, which explains how we collect, use and protect
                                the personal information you provide to us.
                            </p>
                        </div>
                    </div>
                    <div class="terms_conditions__item-body-item">
                        <div class="terms_conditions__item-body-item-header">
                            <h2>CONTACT US</h2>
                        </div>
                        <div class="terms_conditions__item-body-item-body">
                            <p>
                                If you have any questions about these Terms, please contact us at "support@compasai.com"
                            </p>
                        </div>
                    </div>
                </div>
                <p>Last updated: April, 2024.</p>

            </div>
        </div>
       
        
    </div>
</section>
{% endblock %}

{% block title %} Terms & Conditions - Compas AI {% endblock %}























